<h4>{{alias}} flips a card from {{cardOrigin}}{{#if isTrump}} with a Trump ! {{/if}}</h4>
<h4>This a {{mode}} {{#if skill}} {{skill.name}} {{/if}} Flip, with {{localize stat.label}} ({{stat.value}} - {{stat.cardsuit}})</h4>

<table>
  <tr class="flexrow card-zone">
      {{#each cardSlot as |slot|}}
      <td class="flexcol">
        <span><img class="chat-icon card-icon" src="{{slot.card1Path}}" /></span>
        {{#if slot.isFace1}}
        <span></span><img class="chat-icon card-icon" src="{{slot.card2Path}}" /></span>
        {{/if}}
      </td>
    {{/each}}
</tr>
</table>

{{#if isJoker}}
  <label><strong>This is a Critical Failure ! </strong>You can discard some cards from your deck, then draw a new one and then shuffle the discard pile with the deck !</label>
{{else}}
  <div class="flexcol">
    <label>Card(s) total value : {{cardTotal}}</label>
    <label>Stat/Skill base value : {{baseScore}} </label>
    <label>Modifier : {{numberFormat modifier decimals=0 sign=false}}</label>
    <label>Final result : {{finalScore}} compared to TN {{tn}}</label>
    <label><strong>This is a {{result}} with a magnitude of {{magnitude}}</strong></label>    
  </div>
{{/if}}
