<h2>{{name}} is dead ! </h2>
  <div class="flexcol">
    <label>Light Wounds : {{wounds.light}}</label>
    <label>Moderate Wounds : {{wounds.moderate}}</label>
    <label>Severe Wounds : {{wounds.severe}}</label>
    <label>Critical Wounds : {{wounds.critical}}</label>
    <label>Current wounds value : {{currentWounds}}</label>
    <label>Total wounds : {{totalWounds}}</label>
  </div>
