<h4>{{alias}} has made damages with its weapon {{weapon.name}} !</h4>
  <div class="flexcol">
    <label>Card color : {{damageCardsuit}}</label>
    <label>Damage value: {{damageValue}}</label>
    <label>Damage Severity : {{damageSeverity}} </label>
    <label>No target has been selected, you must apply damages manually, by comparing the value above with the DR and the Shock of the target, 
      as per rules p.117.</label>
  </div>
