<h4>{{defenderName}} has taken damages !</h4>
  <div class="flexcol">
    <label>Light Wounds : {{wounds.light}}</label>
    <label>Moderate Wounds : {{wounds.moderate}}</label>
    <label>Severe Wounds : {{wounds.severe}}</label>
    <label>Critical Wounds : {{wounds.critical}}</label>
    <label>Current wounds value : {{currentWounds}}</label>
    <label>Total wounds : {{totalWounds}}</label>
    {{#if isBleeding}}
    <label>{{defenderName}} is bleeding with severity {{isBleeding}}. He will have a new {{isBleeding}} wound at the end of the round !</label>
    {{/if}}

  </div>
