<h4>{{name}} has taken a new {{severity}} wound, due to the {{consequenceName}} consequence  !</h4>
  <div class="flexcol">
    <label>Light Wounds : {{wounds.light}}</label>
    <label>Moderate Wounds : {{wounds.moderate}}</label>
    <label>Severe Wounds : {{wounds.severe}}</label>
    <label>Critical Wounds : {{wounds.critical}}</label>
    <label>Current wounds value : {{currentWounds}}</label>
    <label>Total wounds : {{totalWounds}}</label>
  </div>
