<h4>{{alias}} has made damages with its weapon {{weapon.name}} against 
  {{target.actor.name}} !</h4>
  <div class="flexcol">
    <label>Score : {{finalScore}} - Target defense : {{tn}} / {{targetCritical}}</label>
    <label>Target DR : {{targetDR}} - Target Shock : {{targetShock}} </label>
    <label>Card color : {{damageCardsuit}}</label>
    <label>Damage value: {{damageValue}}</label>
    {{#if isCritical}}
    <label><strong>This is a critical hit !</strong></label>
    {{/if}}
    <label>Number of Wounds : {{nbWounds}}</label>
    <ul>
      {{#each woundsList as |severity key|}}
      <li> 1 Wound of severity {{severity}}</li>
      {{/each}}
    </ul>
  </div>
