<h4>{{target.actor.name}} has {{APavailable}} AP and can react to the attack from {{actor.name}} !</h4>
  <div class="flexcol">
    {{#if coverSeverityFlag}}
    <a class='chat-card-button' id='button-reaction-cover' data-uniq-id='{{uniqId}}' data-actor-id='{{target.actor._id}}'>
      Add cover consequence bonus x 2 to your defense : {{coverSeverityLevel}}</a>`
    {{/if}}
    {{#if isMelee}}
    <a class='chat-card-button' id='button-reaction-melee' data-uniq-id='{{uniqId}}' data-actor-id='{{target.actor._id}}'>
      Add Melee level to your defense : {{defenderMelee}}</a>`
    {{/if}}
    <a class='chat-card-button' id='button-reaction-hit' data-uniq-id='{{uniqId}}' data-actor-id='{{target.actor._id}}'>
      Do not dodge and get the hit !</a>`
  </div>
