  <div class="flexrow">
    <label class="generic-label">Big</label>
    <input type="text" name="data.big" value="{{data.big}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label class="generic-label">Cost rating </label>
    <input type="text" name="data.costrating" value="{{data.costrating}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label class="generic-label">Defensive </label>
    <input type="text" name="data.defensive" value="{{data.defensive}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label class="generic-label">Quantity </label>
    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label class="generic-label">Computer</label>
    <input type="text" name="data.computer" value="{{data.computer}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label class="generic-label">Software</label>
    <input type="text" name="data.software" value="{{data.software}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label class="generic-label">Conceal</label>
    <input type="text" name="data.conceal" value="{{data.conceal}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label class="generic-label">Implant</label>
    <input type="text" name="data.implant" value="{{data.implant}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label class="generic-label">Negligeable ?</label>
    <label class="attribute-value checkbox"><input type="checkbox" name="data.neg" {{checked data.neg}}/></label>
  </div>
  <div class="flexrow">
    <label class="generic-label">Military ?</label>
    <label class="attribute-value checkbox"><input type="checkbox" name="data.mil" {{checked data.mil}}/></label>
  </div>
  <div class="flexrow">
    <label class="generic-label">Worn ?</label>
    <label class="attribute-value checkbox"><input type="checkbox" name="data.worn" {{checked data.worn}}/></label>
  </div>
  <div class="flexcol">
    <label class="generic-label">Description</label>
    <div class="form-group medium-editor">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </div>

