<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      <div class="tab" data-group="primary">

      <div class="flexrow">
        <label class="generic-label">Cruise</label>
        <input type="text" name="data.cruise" value="{{data.cruise}}" data-dtype="Number"/>
      </div>      
      <div class="flexrow">
        <label class="generic-label">Defense</label>
        <input type="text" name="data.defense" value="{{data.defense}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">DR</label>
        <input type="text" name="data.dr" value="{{data.dr}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Handling</label>
        <input type="text" name="data.handling" value="{{data.handling}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Shock</label>
        <input type="text" name="data.shock" value="{{data.shock}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Structure</label>
        <input type="text" name="data.structure" value="{{data.structure}}" data-dtype="Number"/>
      </div>
      {{>"systems/foundryvtt-shadows-over-sol/templates/item-commongear-sheet.html"}}
    </div>  
    
    </section>
</form>
