<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      <div class="tab" data-group="primary">

      <div class="flexrow">
        <label class="generic-label">Bulky</label>
        <input type="text" name="data.bulky" value="{{data.bulky}}" data-dtype="Number"/>
      </div>      
      <div class="flexrow">
        <label class="generic-label">DR</label>
        <input type="text" name="data.dr" value="{{data.dr}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Gel</label>
        <input type="text" name="data.gel" value="{{data.gel}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Reflect</label>
        <input type="text" name="data.reflect" value="{{data.reflect}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Strength Bonus</label>
        <input type="text" name="data.str" value="{{data.str}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Is VAC  ?</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.vac" {{checked data.vac}}/></label>
      </div>
      {{>"systems/foundryvtt-shadows-over-sol/templates/item-commongear-sheet.html"}}
    </div>  
    
    </section>
</form>
