<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

          <div class="flexcol">
            <label class="generic-label">Vector</label>
            <input type="text" name="data.vector" value="{{data.vector}}" data-dtype="String"/>
          </div>
          <div class="flexcol">
            <label class="generic-label">Action</label>
            <input type="text" name="data.action" value="{{data.action}}" data-dtype="String"/>
          </div>
          <div class="flexcol">
            <label class="generic-label">Effect</label>
            <input type="text" name="data.effect" value="{{data.effect}}" data-dtype="String"/>
          </div>
          <div class="flexcol">
            <label class="generic-label">Notes</label>
            <div class="form-group medium-editor">
              {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>

    </section>
</form>
