<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <div class="flexcol">
            <label class="generic-label">Severity</label>
            <div class="form-group small-editor">
              <select class="stat-value flexrow" type="text" name="data.severity" value="{{data.severity}}" data-dtype="String">
                {{#select data.severity}}
                <option value="none">None</option>
                <option value="light">Light</option>
                <option value="moderate">Moderate</option>
                <option value="severe">Severe</option>
                <option value="critical">Critical</option>
                {{/select}}
              </select>     
            </div>
          </div>
          <div class="flexcol">
            <label class="generic-label">Description</label>
            <div class="form-group medium-editor">
              {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>

    </section>
</form>
