<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <div class="flexcol">
            <label class="generic-label">Type</label>
            <div class="form-group small-editor">
              <select class="stat-value flexrow" type="text" name="data.type" value="{{data.type}}" data-dtype="String">
                {{#select data.type}}
                <option value="reaction">Reaction</option>
                <option value="move">Move</option>
                <option value="concentrate">Concentrate</option>
                <option value="interact">Interact</option>
                <option value="attack">Attack</option>
                <option value="other">Other</option>
                {{/select}}
              </select>     
            </div>
          </div>
          <div class="flexcol">
            <label class="generic-label">Minimum Action Point cost</label>
            <input type="text" name="data.minap" value="{{data.minap}}" data-dtype="Number"/>
          </div>
          <div class="flexrow">
            <label class="generic-label">Target needed ?</label>
            <label class="attribute-value checkbox"><input type="checkbox" name="data.targetneeded" {{checked data.targetneeded}}/></label>
          </div>        
          <div class="flexcol">
            <label class="generic-label">Description</label>
            <div class="form-group medium-editor">
              {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>

    </section>
</form>
