<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      <div class="tab" data-group="primary">

      <div class="flexrow">
        <label class="generic-label">Category</label>
        <select class="stat-value flexrow" type="text" name="data.category" value="{{data.category}}" data-dtype="String">
          {{#select data.category}}
          <option value="ballistic">Ballistic</option>
          <option value="laser">Laser</option>
          <option value="grenade">Grenade</option>
          <option value="melee">Melee</option>
          {{/select}}
        </select>     
      </div>
      
      <div class="flexrow">
        <label class="generic-label">Damage : </label>
        <img class="cardsuit-img" src="systems/foundryvtt-shadows-over-sol/img/cards/spade.webp" />
        <input type="text" name="data.damage_spade" value="{{data.damage_spade}}" data-dtype="String"/>
        <img class="cardsuit-img" src="systems/foundryvtt-shadows-over-sol/img/cards/hearts.webp" />
        <input type="text" name="data.damage_hearts" value="{{data.damage_hearts}}" data-dtype="String"/>
        <img class="cardsuit-img" src="systems/foundryvtt-shadows-over-sol/img/cards/diamond.webp" />
        <input type="text" name="data.damage_diamond" value="{{data.damage_diamond}}" data-dtype="String"/>
        <img class="cardsuit-img" src="systems/foundryvtt-shadows-over-sol/img/cards/club.webp" />
        <input type="text" name="data.damage_club" value="{{data.damage_club}}" data-dtype="String"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Range</label>
        <input type="text" name="data.range" value="{{data.range}}" data-dtype="Number"/>
      </div>      
      <div class="flexrow">
        <label class="generic-label">Area</label>
        <input type="text" name="data.area" value="{{data.area}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Shots</label>
        <input type="text" name="data.shots" value="{{data.shots}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Autofire</label>
        <input type="text" name="data.autofire" value="{{data.autofire}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Hands needed</label>
        <input type="text" name="data.hands" value="{{data.hands}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Pierce</label>
        <input type="text" name="data.pierce" value="{{data.pierce}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Reload</label>
        <input type="text" name="data.reload" value="{{data.reload}}" data-dtype="Number"/>
      </div>
      <div class="flexrow">
        <label class="generic-label">Stun ?</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.stun" {{checked data.stun}}/></label>
      </div>
      <div class="flexrow">
        <label class="generic-label">Thrown ?</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.thrown" {{checked data.thrown}}/></label>
      </div>
      <div class="flexrow">
        <label class="generic-label">Reach ?</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.reach" {{checked data.reach}}/></label>
      </div>
      <div class="flexrow">
        <label class="generic-label">Shallow ?</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.shallow" {{checked data.shallow}}/></label>
      </div>
      <div class="flexrow">
        <label class="generic-label">Spread ?</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.spread" {{checked data.spread}}/></label>
      </div>  

      {{>"systems/foundryvtt-shadows-over-sol/templates/item-commongear-sheet.html"}}
    </div>  
    
    </section>
</form>
