<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <div class="flexcol">
            <label class="generic-label">Description</label>
            <div class="form-group medium-editor">
              {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
          </div>
          <div class="flexcol">
            <label class="generic-label">Experiences</label>
            <div class="form-group small-editor">
              <input type="text" name="data.experiences" value="{{data.experiences}}" data-dtype="String"/>
            </div>
          </div>
        </div>

    </section>
</form>
