<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      <div class="tab" data-group="primary">

      <div class="flexrow">
        <label class="generic-label">Container</label>
        <input type="text" name="data.container" value="{{data.container}}" data-dtype="Number"/>
      </div>      
      {{>"systems/foundryvtt-shadows-over-sol/templates/item-commongear-sheet.html"}}
    </div>  
    
    </section>
</form>
