<option value="strength">Strength</option>
<option value="dexterity">Dexterity</option>
<option value="speed">Speed</option>
<option value="endurance">Endurance</option>
<option value="intelligence">Intelligence</option>
<option value="perception">Perception</option>
<option value="charisma">Charisma</option>
<option value="determination">Determination</option>