  /* ==================== (A) Fonts ==================== */
  @font-face {
    font-family: "Garamond";
    src: url('../fonts/AppleGaramond.ttf') format("truetype");
  }
  @font-face {
    font-family: "Neuropol";
    src: url('../fonts/neuropol.ttf') format("truetype");
  }
  
  :root {
  /* =================== 1. ACTOR SHEET FONT STYLES =========== */
    --window-header-title-font-family: Neuropol;
    --window-header-title-font-size: 1.2rem;
    --window-header-title-font-weight: normal;
    --window-header-title-color: #f5f5f5;

    --major-button-font-family: Garamond;
    --major-button-font-size: 1.25rem;
    --major-button-font-weight: normal;
    --major-button-color: #dadada;

    --tab-header-font-family: Garamond;
    --tab-header-font-size: 1.2rem;
    --tab-header-font-weight: 700;
    --tab-header-color: #403f3e;
    --tab-header-color-active: #4a0404;

    --actor-input-font-family: Garamond;
    --actor-input-font-size: 1.2rem;
    --actor-input-font-weight: 500;
    --actor-input-color: black;

    --actor-label-font-family: Garamond;
    --actor-label-font-size: 1.2rem;
    --actor-label-font-weight: 700;
    --actor-label-color: #464331c4;

  /* =================== 2. DEBUGGING HIGHLIGHTERS ============ */ 
    --debug-background-color-red: #ff000054;
    --debug-background-color-blue: #1d00ff54;
    --debug-background-color-green: #54ff0054;

    --debug-box-shadow-red: inset 0 0 2px red;
    --debug-box-shadow-blue: inset 0 0 2px blue;
    --debug-box-shadow-green: inset 0 0 2px green;
  }

/*@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");*/
/* Global styles & Font */
.window-app {
  font-family: Garamond;
  font-size: 1.0rem;
  letter-spacing: 1px;
}

/* Fonts */
.window-app .window-header, #actors .directory-list, #navigation #scene-list .scene.nav-item {
  font-family: "Garamond";
  font-size: 0.9rem;
} /* For title, sidebar character and scene */

.sheet header.sheet-header h1 input {
  font-family: "Neuropol";
}

.sheet nav.sheet-tabs {font-family: "Garamond";} /* For nav and title */
.window-app input, .foundryvtt-shadows-over-sol .item-form, .sheet header.sheet-header .flex-group-center.flex-compteurs, .sheet header.sheet-header .flex-group-center.flex-fatigue, select, button, .item-checkbox, #sidebar, #players, #navigation #nav-toggle {
  font-family: "Garamond"; /* For sheet parts */
}

.window-header{
  background: rgba(0,0,0,0.75);
}

.window-app.sheet .window-content {
  margin: 0;
  padding: 0;
}
.strong-text{
  font-weight: bold;
}

.tabs .item.active, .blessures-list li ul li:first-child:hover, a:hover {
  text-shadow: 1px 0px 0px #ff6600;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

table {border: 1px solid #7a7971;}

.sosdialog {
  width: 600px;
  height: 430px;
  z-index: 9999;
  display: block;
}

.grid, .grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-shrink {
  flex: 'flex-shrink' ;
}

/* Styles limited to foundryvtt-reve-de-dragon sheets */
.foundryvtt-shadows-over-sol .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.foundryvtt-shadows-over-sol .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 128px;
  flex: 0 0 128px;
  height: 128px;
  width: 128px;
  margin-right: 10px;
  object-fit: cover;
  object-position: 50% 0;
}

.flip-card {
  height: 128px;
  width: 90px;
  margin-right: 5px;
}

.card-zone {
  height: 150px;
}

.card-zone > .flexcol > img.card-icon {
  position: relative;
  top: -110px;
  left: 15px;
}

.card-icon {
  height: 128px;
  width: 90px !important;
  flex-grow: 1;
}
.card-img {
  height: 128px;
  width: 90px;
  margin-right: auto;
  margin-left: auto;
}
.cardsuit-img {
  height: 32px;
  width: 32px;
  flex-grow: 0;
  margin-right: 0.25rem;
}
.button-img {
  vertical-align: baseline;
  width: 8%;
  height: 8%;
  max-height: 48px;
  border-width: 0;
}

.button-effect-img {
  vertical-align: baseline;
  width: 16px;
  max-height: 16px;
  height: 16;
  border-width: 0;
}

.small-button-container {
  height: 16px;
  width: 16px;
  border: 0;
  vertical-align: bottom;
}

.foundryvtt-shadows-over-sol .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.foundryvtt-shadows-over-sol .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.foundryvtt-shadows-over-sol .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.foundryvtt-shadows-over-sol .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.foundryvtt-shadows-over-sol .sheet-body,
.foundryvtt-shadows-over-sol .sheet-body .tab,
.foundryvtt-shadows-over-sol .sheet-body .tab .editor {
  height: 100%;
}
.editor {
  border: 2;
  height: 300px;
  padding: 0 3px;
}

.medium-editor {
  border: 2;
  height: 240px;
  padding: 0 3px;
}

.small-editor {
  border: 2;
  height: 100px;
  padding: 0 3px;
}

.foundryvtt-shadows-over-sol .tox .tox-editor-container {
  background: #fff;
}

.foundryvtt-shadows-over-sol .tox .tox-edit-area {
  padding: 0 8px;
}

.foundryvtt-shadows-over-sol .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.foundryvtt-shadows-over-sol .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.foundryvtt-shadows-over-sol .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.foundryvtt-shadows-over-sol .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.foundryvtt-shadows-over-sol .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.foundryvtt-shadows-over-sol .items-list .item-header {
  font-weight: bold;
}

.foundryvtt-shadows-over-sol .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.foundryvtt-shadows-over-sol .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.foundryvtt-shadows-over-sol .items-list .item img {
  display: block;
}

.foundryvtt-shadows-over-sol .items-list .item-name {
  margin: 0;
}

.foundryvtt-shadows-over-sol .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}


/* ======================================== */
/* Sheet  */
.window-app.sheet .window-content .sheet-header{
  background: url('../img/ui/background_sheet01.webp') no-repeat left top;
  /*background: #011d33 url("img/bg_header.webp") no-repeat left top;*/
  color: rgba(255, 255, 255, 1);
}

.window-app.sheet .window-content .sheet-header input[type="text"], .window-app.sheet .window-content .sheet-header input[type="number"], .window-app.sheet .window-content .sheet-header input[type="password"], .window-app.sheet .window-content .sheet-header input[type="date"], .window-app.sheet .window-content .sheet-header input[type="time"] {
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.05);
  border: 0 none;
  margin-bottom: 0.25rem;
}

.sheet .sheet-header {
  background: url('../img/ui/background_sheet01.webp') no-repeat left top;
}

.window-app .window-content, .window-app.sheet .window-content .sheet-body{
/*   background: rgb(245,245,240) url("img/bg_left.jpg") no-repeat left top; */
}

section.sheet-body{padding: 0.25rem 0.5rem;}

.sheet header.sheet-header .profile-img {
  object-fit: cover;
  object-position: 50% 0;
  margin: 0.5rem 0 0.5rem  0.5rem;
  padding: 0;
}

.sheet nav.sheet-tabs {
  font-size: 0.65rem;
  font-weight: bold;
  font-family: Neuropol;
  height: 5rem;
  flex: 0 0 5rem;
  margin: 0;
  padding: 0 0 0 0.25rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem;
  border-top: 0 none;
  border-bottom: 0 none;
  color: rgba(52, 52, 52, 0.95);
/*   background: rgb(245,245,240) url("img/bg_menu.jpg") no-repeat left top; */
}

nav.sheet-tabs .item {
  position: relative;
  padding: 0 0.25rem;
}

nav.sheet-tabs .item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 1px;
  border-right: 1px dashed rgba(52, 52, 52, 0.25);
}

.sheet .tab[data-tab] {
  padding: 0;
}

section.sheet-body:after {
  content: "";
  display: block;
  clear: both;
}

.sheet header.sheet-header .flex-compteurs {text-align: right;}
.sheet header.sheet-header .resource-content {width: 2rem;}

.ctn-vie span, .ctn-endu span, .ctn-fatigue span, .ctn-reve span {
  display: inline-block;
  text-align: left;
  width: 2rem;
}
.select-diff {
  display: inline-block;
  text-align: left;
  width: 50px;
}

#vie-plus, #vie-moins, #endurance-plus, #endurance-moins, #fatigue-plus, #fatigue-moins, #ptreve-actuel-plus, #ptreve-actuel-moins, .monnaie-plus, .monnaie-moins {
  display: inline-block;
  width: 1.25rem;
  background: rgba(30, 25, 20, 1);
  text-align: center;
  border: 1px solid rgba(72, 46, 28, 1);
  border-radius: 0.25rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
}

.alchimie-tache {
  font-weight: bold;
  background: rgb(182, 180, 179);
  border: 1px solid rgba(72, 46, 28, 1);
  border-radius: 0.25rem;
  color: rgba(212, 27, 27, 0.5);
}

.window-app.sheet .window-content .tooltip:hover .tooltiptext {
  top: 2rem;
  left: 2rem;
  margin: 0;
  padding: 0.25rem;
}

.window-app.sheet .window-content .stat-value, .window-app.sheet .window-content .competence-xp {
  margin: 0.05rem;
  flex-basis: 3rem;
  text-align: center;
}

/* ======================================== */
/* Global UI elements  */

/* ======================================== */

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 1px;
}

.sheet.actor ul, .sheet.actor ol {
    margin: 0;
    padding: 0;
}
.sheet.actor ul, .sheet.actor li {
  list-style-type: none;
}

.sheet.actor li {
  margin: 0.125rem;
  padding: 0.25rem;
}
.header-fields li {
  margin: 0;
  padding: 0;
}

.alternate-list > .list-item:hover {
  background: rgba(100, 100, 50, 0.25);
}
.alternate-list > .list-item:nth-child(even) {
  background: rgba(80, 60, 0, 0.10);
}
.alternate-list > .list-item:nth-child(odd) {
  background: rgb(160, 130, 100, 0.05);
}
.xp-level-up  {
  margin: 0.125rem;
  box-shadow: inset 0px 0px 1px #00000096;
  border-radius: 0.25rem;
  padding: 0.125rem;
  flex: 1 1 5rem;
  background: rgba(195, 152, 22, 0.5);
}

.blessures-list ul {
  display: flex;
}
.blessures-list li {
  flex: 1;
  flex-basis: auto;
}
.blessures-list li ul li:first-child {
  flex: 0;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
}
.stat-label {
  font-weight: bold;
  flex-grow: 2;
}

.list-item {
  margin: 0.125rem;
  box-shadow: inset 0px 0px 1px #00000096;
  border-radius: 0.25rem;
  padding: 0.125rem;
  flex: 1 1 5rem;
}
.item-display-show {
  display: block;
}
.item-display-hide {
  display: none;
}
.conteneur-type {
  background: rgb(200, 10, 100, 0.25);
}

.item-quantite {
  margin-left: 0.5rem;
}

.list-item-margin1 {
  margin-left: 1rem;
}
.list-item-margin2 {
  margin-left: 2rem;
}
.list-item-margin3 {
  margin-left: 3rem;
}
.list-item-margin4 {
  margin-left: 4rem;
}

.sheet-skill-img {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  margin-right: 0.25rem;
}
.skill-column {
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  flex-grow: 0;
  flex-basis: 1;
}
.skill-header {
  align-content: flex-start;
  justify-content: flex-start;
  font-weight: bold;
  flex-grow: 0;
}

.skill-label,
.conseq-label,
.generic-label {
  font-weight: bold;
  flex-grow: 2;
}
.dialog-label {
  flex-grow: 2;
  font-size: 0.8rem;
  font-weight: bold;
}
.attribut-value,
.stat-value {
  flex-grow: 0;
  flex-basis: 64px;
  margin-right: 4px;
  margin-left: 4px;
}
.sante-value,
.skill-value,
.wound-value {
  flex-grow: 0;
  flex-basis: 2rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.description-value {
  flex-grow: 0;
  flex-basis: 10rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.skill-xp {
  flex-grow: 0;
  flex-basis: 2rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.blessures-title {
  font-weight: bold;
}
.alchimie-title {
  font-weight: bold;
}
.blessure-data {
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}
.blessures-soins {
  flex-grow: 0;
  flex-basis: 32px;
  margin-right: 4px;
  margin-left: 4px;
}
.blessures-loc {
  flex-grow: 0;
  flex-basis: 96px;
  margin-right: 4px;
  margin-left: 4px;
}
.pointsreve-value {
  flex-grow: 0;
  flex-basis: 64px;
  margin-right: 4px;
  margin-left: 4px;
}
.input-sante-header,
.stress-style {
  flex-grow: 0;
  flex-basis: 64px;
  margin-right: 4px;
  margin-left: 4px;
}

/* ======================================== */
.table-nombres-astraux {
  border:1;
  font-size: 0.75rem;
}
.table-nombres-astraux td {
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
}

/* ======================================== */
.tokenhudext {
	display: flex;
	flex: 0 !important;
  font-family: Neuropol;
  font-weight: 600;
}
.tokenhudext.left {
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 2.75rem;
  right: 4rem;
}
.tokenhudext.right {
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 2.75rem;
  left: 4rem;
}
.control-icon.tokenhudicon {
  width: fit-content;
  height: fit-content;
  min-width: 6rem;
  flex-basis: auto;
  padding: 0;
  line-height: 1rem;
  margin: 0.25rem;
}
.control-icon.tokenhudicon.right {
  margin-left: 8px;
}
.sos-hud-menu label {
  font-size: 0.75rem;
}
#token-hud .status-effects.active{
  z-index: 2;
}
/* ======================================== */
.item-checkbox {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  padding-top: 5px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
  text-align: center;
}

/* ======================================== */
/* Fatigue CSS */
.table-fatigue {
  table-layout: fixed;
  padding: 0;
  margin: 0;
}
.table-fatigue td {
  table-layout: fixed;
  width: 2px;
  height: 2px;
  padding: 0;
}
.table-fatigue .fatigue-used {
  background-color: DarkRed;
  border: 1px solid #999;
}
.table-fatigue .fatigue-none {
  background-color: Grey;
  border: 1px solid #999;
}
.table-fatigue .fatigue-free {
  border: 1px solid #999;
}
.table-fatigue .fatigue-malus {
  font-size: 0.8rem;
}
 .flex-actions-bar  {
  flex-grow: 2;
}

/* ======================================== */
/* Sidebar CSS */
#sidebar {
  font-size: 1rem;
  background: rgb(105,85,65) url("../img/ui/sos-background.jpg") no-repeat right bottom;
  background-position: 100%;
  rgba(255, 255, 255, 0.9);
  background-size: cover;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

#sidebar-tabs > .item {
    height: 34px;
}

#sidebar-tabs > .collapse, #chat-controls .chat-control-icon {
  color: rgba(255, 255, 255, 0.9);
}

.sidebar-tab .directory-list .entity {
    border-top: 1px dashed rgba(0,0,0,0.25);
    border-bottom: 0 none;
    padding: 0.25rem 0;
}

.sidebar-tab .directory-list .entity:hover {
  background: rgba(0,0,0,0.05);
  cursor: pointer;
}

.sidebar-tab .directory-list .directory-item img {
    filter: drop-shadow(2px 2px 2px #000);
}

.chat-message {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.75);
  font-size: 0.9rem;
}

.chat-message .message-header {
    color: #FFFFFF;
}

.chat-message .message-content {
    text-shadow: none;
    color: black;
}

.chat-message.whisper {
  background: rgba(220,220,210,0.75);
  border: 2px solid #545469;
}

.chat-message .chat-icon {
  border: 0;
  float: left;
}

#sidebar-tabs {
  flex: 0 0 32px;
  box-sizing: border-box;
  margin: 0 0 5px;
  border-bottom: 1px solid rgba(0,0,0,0);
  box-shadow: inset 0 0 2rem rgba(0,0,0,0.5);
}

#sidebar-tabs > .item.active {
  border: 1px solid rgb(36, 33, 35);
  background: rgba(37, 36, 37, 0.75);
  box-shadow: 0 0 6px inset rgb(66, 63, 66);
}

#sidebar #sidebar-tabs i{
  width: 25px;
  height: 25px;
  display: inline-block;
  background-position:center;
  background-size:cover;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.75);

}

#sidebar #sidebar-tabs i.fa-comments:before, #sidebar #sidebar-tabs i.fa-fist-raised:before, #sidebar #sidebar-tabs i.fa-users:before, #sidebar #sidebar-tabs i.fa-map:before, #sidebar #sidebar-tabs i.fa-suitcase:before, #sidebar #sidebar-tabs i.fa-book-open:before, #sidebar #sidebar-tabs i.fa-th-list:before, #sidebar #sidebar-tabs i.fa-music:before, #sidebar #sidebar-tabs i.fa-atlas:before, #sidebar #sidebar-tabs i.fa-cogs:before {content: "";}
#sidebar #sidebar-tabs i.fa-comments {background: url("../img/ui/walkie-talkie.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-fist-raised {background: url("../img/ui/bolter-gun.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-users {background: url("../img/ui/cowled.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-map {background: url("../img/ui/earth-asia-oceania.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-suitcase {background: url("../img/ui/cargo-crate.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-book-open {background: url("../img/ui/files.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-th-list {background: url("../img/ui/folded-paper.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-music {background: url("../img/ui/double-quaver.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-atlas {background: url("../img/ui/lockers.svg") no-repeat;}
#sidebar #sidebar-tabs i.fa-cogs {background: url("../img/ui/toggles.svg") no-repeat;}

#combat li.combatant .token-image {
  filter: drop-shadow(2px 2px 2px #000);
}

#combat li.combatant .token-name {
  text-shadow: inherit;
}

#combat #combat-controls {
  box-shadow: inset 0 0 2rem rgba(0,0,0,0.5);
}

#combat li.combatant .token-name .combatant-control {
    color: #FFFFFF;
}

/*--------------------------------------------------------------------------*/
/* Control, Tool, hotbar & navigation */

#controls .scene-control, #controls .control-tool {
  box-shadow: 0 0 3px #000;
  margin: 0 0 8px;
  border-radius: 0;
  background: rgba(30, 25, 20, 1);
  background-origin: padding-box;
  /*border-image: url(img/ui/footer-button.png) 10 repeat;*/
  border-image-width: 4px;
  border-image-outset: 0px;
}

#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover {
  background: rgba(72, 46, 28, 1);
  background-origin: padding-box;
  /*border-image: url(img/ui/footer-button.png) 10 repeat;*/
  border-image-width: 4px;
  border-image-outset: 0px;
  box-shadow: 0 0 3px #ff6400;
}

#hotbar #action-bar #macro-list {
  border: 1px solid rgba(72, 46, 28, 1);
  box-shadow: 2px 2px 5px #000000;
}

#hotbar #action-bar .macro {
  /*border-image: url(img/ui/bg_control.jpg) 21 repeat;*/
  border-image-slice: 6 6 6 6 fill;
  border-image-width: 6px 6px 6px 6px;
  border-image-outset: 0px 0px 0px 0px;
  border-radius: 0px;
}

#hotbar .bar-controls {
  background: rgba(30, 25, 20, 1);
  border: 1px solid rgba(72, 46, 28, 1);
}

#players {
  /*border-image: url(img/ui/footer-button.png) 10 repeat;*/
  border-image-width: 4px;
  border-image-outset: 0px;
  background: rgba(30, 25, 20, 1);
}

#navigation #scene-list .scene.nav-item.active {
  background: rgba(72, 46, 28, 1);
}

#navigation #scene-list .scene.nav-item {
  background: rgba(30, 25, 20, 1);
  background-origin: padding-box;
  /*border-image: url(img/ui/footer-button.png) 10 repeat;*/
  border-image-width: 4px;
  border-image-outset: 0px;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
  background: rgba(72, 46, 28, 1);
  background-origin: padding-box;
  /*border-image: url(img/ui/footer-button.png) 10 repeat;*/
  border-image-width: 4px;
  border-image-outset: 0px;
  box-shadow: 0 0 3px #ff6400;
}

#navigation #nav-toggle {
  background: rgba(30, 25, 20, 1);
  background-origin: padding-box;
  /*border-image: url(img/ui/footer-button.png) 10 repeat;*/
  border-image-width: 4px;
  border-image-outset: 0px;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  text-align: center;

  /* Position the tooltip text */
  top: 20px;
  position: absolute;
  z-index: 1;

  /* Fade in tooltip */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .ttt-fatigue{
  width: 360px;

  background: rgba(30, 25, 20, 0.9);
  /*border-image: url(img/ui/bg_control.jpg) 21 repeat;*/
  border-image-slice: 6 6 6 6 fill;
  border-image-width: 6px 6px 6px 6px;
  border-image-outset: 0px 0px 0px 0px;
  border-radius: 0px;

  font-size: 0.8rem;
  padding: 3px 0;
}

.tooltip .ttt-ajustements {
  width: 150px;
  background: rgba(220,220,210,0.95);
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 3px 0;
}

.tooltip-nobottom {
  border-bottom: unset; /* If you want dots under the hoverable text */
}
.tooltip .ttt-xp {
  width: 250px;
  background: rgba(220,220,210,0.95);
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 3px 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text-red {
  color: red;
  font-weight: bold;
}

.edge-name {
  padding: 5px;
}

.card-button {
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #21374afc 5%, #152833ab 100%);
  background-color: #7d5d3b00;
  border-radius: 3px;
  border: 2px ridge #846109;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 4px 12px 0px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  position: relative;
  margin:2px;
  text-align: center;
  width: 100%;
}

.chat-card-button {
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #21374afc 5%, #152833ab 100%);
  background-color: #7d5d3b00;
  border-radius: 3px;
  border: 2px ridge #846109;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Neuropol;
  font-size: 0.8rem;
  padding: 4px 12px 0px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  position: relative;
  margin:5px;
}

.card-button:hover,
.chat-card-button:hover {
  background: linear-gradient(to bottom, #800000 5%, #3e0101 100%);
  background-color: red;
}
.card-button:active,
.chat-card-button:active {
  position:relative;
  top:1px;
}

/*************************************************************/
#pause
{
  font-family: Neuropol;
  font-size: 1.3rem;
}
#pause > h3
{
  color: #CCC
}
#pause > img {
  content: url(../img/logos/sos_logo_small.webp);
  height: 256px;
  width: 256px;
  top: -75px;
  left: calc(50% - 132px);
}

#logo {
  content : url(../img/logos/sos_logo_small.webp);
  width: 70px;
  height: 60px;
  margin-left: 16px;
}